@model PetRental.WebMVC1.Models.TemporaryAdopt

@{
    ViewBag.Title = "Details";
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>