@model PetRental.WebMVC1.Models.PetDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>