@{
    ViewBag.Title = "This Is Pet Fix!";
    ViewBag.Message = "This Is What We Are All About!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Pet Fix is an animal rental company that allows customers to rent special friends daily. <br />
    The idea behind Pet Fix, is to allow customers, and the animals, the ability to bond with one another.<br />
    Pet Fix allows animals, who are typically in shelter homes, to enjoy the personal connections that humans have to offer.<br />
    Customers who need a break from the every day chaos, can take a friend home and relax.<br />
    Pet Fix strives to keep the animals extremely happy, and that all starts with the customers.<br />
    Also, If you the customers seems to fall in love with their daily friend, Adoption is just a few steps away.<br />
    Thank you for taking the time to learn about Pet Fix, and we hope we can serve you!<br />
    Get Your Pet Fix Today!
</p>