@{
    ViewBag.Title = "This Is Pet Fix | This Is What We Are All About!";
}
<br />
<br />
<h1>@ViewBag.Title</h1>

<p>
    Pet Fix is an animal rental company that allows customers to rent special friends daily. <br />
    The idea behind Pet Fix, is to allow customers, and the animals, the ability to bond with one another.<br />
    Pet Fix allows animals, who are typically in shelter homes, to enjoy the personal connections that humans have to offer.<br />
    Customers who need a break from the every day chaos, can take a friend home and relax.<br />
</p>
<p>
    Pet Fix strives to keep the animals extremely happy, and that all starts with the customers.<br />
    Also, If you the customers seems to fall in love with their daily friend, Adoption is just a few steps away.<br />
    Thank you for taking the time to learn about Pet Fix, and we hope we can serve you!<br />
    Get Your Pet Fix Today!
</p>
<br />
<br />
<h2>
    We Strive To:<br />
    Bring Joy To Our Pets And Customers.<br />
    Make Everyone Feel Like Family.<br />
    Build Lasting Bonds.<br />
    One Pet At A Time!
</h2>
<br />
@{
    ViewBag.Title = "Want To Contact Us?";
    ViewBag.Message = "Feel Free To Reach Out!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pet Fix<br />
    3410 S Walnut St.<br />
    Bloomington, IN 47403<br />
    <abbr title="Reach Us By Phone:">Phone:</abbr>
    812.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@petfix.com</a><br />
    <strong>Donations:</strong>   <a href="mailto:Donations@example.com">Donations@petfix.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@petfix.com</a>
</address>